<!-- <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)"> 
    <input type="text" name="username" placeholder="username" ngModel> 
    <br/> 
    <br/> 
    <input type="submit" value="submit"> 
 </form> -->
 <div class="container" *ngIf="showlg">

    <h1>User Login</h1>

    <form  #login = "ngForm" (ngSubmit)="submit(login)" ng>

        <div class="form-group">

            <label for="username">Username</label><br>

            <input type="text" name="username" class = "form-control" ngModel>

        </div>

        <pre></pre>

        <div class="form-group">

            <label for="password">Password</label><br>

            <input type="text" name="password" class = "form-control"    ngModel>

        </div>

        

        <pre></pre>

        <button class="btn btn-primary" type="submit" routerLink="/profile" (click)="toggle()">Submit</button>
        <!-- <button class="btn btn-primary" type="submit">Submit</button> -->

    </form>

</div>
